
/*- GRID -*/

.div2 {
    grid-row-start: 2;
}

.div3 {
    grid-row-start: 2;
}
        
/*- PROPIEDADES -*/

nav{
    position: absolute;
    top:45px;
    right:25px
}

nav li{
    margin: 5px;
}

section{
    margin: 50px;
}

header{
    padding: 60px;
}

footer{
  padding: 30px 0px 30px 40px;
}

iframe{
    margin: 100px 0px 0px 0px;
}

/*- CLASES -*/

.COLOR1{
    background-color: rgb(51, 52, 70);
}

.COLOR2{
    background-color: rgb(234, 239, 239);
}

h1{
    padding: 0px 0px 15px 0px;
}

